body {
  font-family: sans-serif;
  background-color: #fdfdfd;
  margin: 20px;
}

h1 {
  text-align: center;
}

.semestre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.semestre h2 {
  margin: 10px 0;
}

.ramo {
  padding: 10px;
  margin: 5px;
  width: 200px;
  text-align: center;
  border-radius: 12px;
  border: 2px solid transparent;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
}

.ramo:hover {
  transform: scale(1.05);
}

.aprobado {
  border-color: #4caf50;
  opacity: 0.6;
}

.funciones {
  background-color: #ffcce0; /* rosa pastel */
}

.numeros-algebra {
  background-color: #ffccf9; /* rosa lila pastel */
}

.geometria {
  background-color: #cce5ff; /* azul pastel */
}

.formacion-fundamental {
  background-color: #ffffcc; /* amarillo pastel */
}

.formacion-profesional {
  background-color: #d5f4e6; /* verde menta pastel */
}

.probabilidad-estadisticas {
  background-color: #ffe0cc; /* durazno pastel */
}

.pensamiento-computacional {
  background-color: #f0e6ff; /* lila muy claro */
}

.epistemologia {
  background-color: #fce2ce; /* crema pastel */
}

.practicas {
  background-color: #e6f7ff; /* celeste pastel */
}

.ingles {
  background-color: #fddde6; /* rosa más claro */
}

.optativas {
  background-color: #f0fff0; /* verde muy clarito */
}
